@import "./index.css";

.nft-grid {
  @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-3 md:gap-4 xl:gap-5 overflow-y-scroll pb-4;
}

.nft-card {
  @apply bg-gradient-to-b from-blue-300/30 to-blue-300/5 bg-blue-700 rounded-md md:rounded-lg p-2 md:p-4 shadow-xl gap-3 md:gap-4 flex flex-col hover:from-blue-300/100 hover:to-blue-100/10 transition-all duration-300 cursor-pointer  relative;
}

.nft-card:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(rgb(92, 168, 255, 1) 0%,
      rgb(92, 168, 255, .15) 50%);
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.nft-card-selected {
  background: linear-gradient(89deg, rgba(162, 129, 255, .8) 7.81%, rgb(235, 130, 128, .8) 31.14%, rgb(235, 191, 154, .8) 65.93%, rgb(137, 208, 255, .8) 90.66%);
}

/* Selected State Gradient Border */
.nft-card-selected:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(-30deg, #A281FF 7.81%, #EB8280 31.14%, #EBBF9A 65.93%, #89D0FF 90.66%);
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.network-icon {
  @apply h-5 w-5 md:h-8 md:w-8 rounded-full border md:border-2 border-white shadow-sm flex justify-center items-center -mr-2 overflow-hidden;
}

.network-icon img {
  @apply h-4 w-4 md:w-6 md:h-6;
}

.skeleton-card {
  @apply bg-gradient-to-b flex flex-col from-blue-900/30 to-blue-900/30 rounded-lg md:rounded-xl p-2 md:p-4 border border-blue-100/10 gap-3 md:gap-4;
}