@import "tailwindcss";

@theme {
  --font-headline: Manuka, sans-serif;
  --font-body: DM Sans, sans-serif;
  --font-mono: DM Mono, monospace;

  /* override default tailwind blue */
  --color-blue-*: initial;
  
  /* ApeChain Blue */
  --color-blue-100: #E2F0FF;
  --color-blue-300: #5CA8FF;
  --color-blue-500: #0054FA;
  --color-blue-700: #002787;
  --color-blue-900: #030A21;

  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
    --ease-in-out-quart: cubic-bezier(0.5, 0, 0.5, 1);
    --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
    --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

}
@font-face {
  font-family: Manuka;
  src: url("/fonts/TestManuka-Bold.otf");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans";
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rainbow-gradient {
  background:  linear-gradient(89deg, #A281FF 7.81%, #EB8280 31.14%, #EBBF9A 65.93%, #89D0FF 90.66%);
}

.outer-ctr {
  @apply max-w-[1520px] px-3 lg:px-6 w-full;
}

.rainbow-gradient-stroke:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background: linear-gradient(-30deg, #A281FF 7.81%, #EB8280 31.14%, #EBBF9A 65.93%, #89D0FF 90.66%);
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}

.primary-btn {
  @apply bg-white/10 rounded-lg text-white px-4  shadow-md transition-all duration-500 cursor-pointer relative hover:bg-white/0;
}

.primary-btn:after {
  @apply bg-gradient-to-b from-white/30 to-[#999]/15 h-full w-full left-0 top-0 ;
  content: "";
  position: absolute;      
  border-radius: inherit;
  opacity: 0;      
  transition: all 500ms;
}

.primary-btn:hover:after {
  opacity:1;
}

.gradient-border:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  opacity:1;
  /* border length  */
  background: linear-gradient(rgb(226, 240, 255, .7) 0%, rgb(226, 240, 255, 0) 65%);
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
  transition: all 500ms;
  pointer-events: none;
}

.gradient-border:hover:after {
  opacity: 1;
}

.nft-card {
  @apply bg-gradient-to-b from-blue-300/30 to-blue-300/5 bg-blue-700 rounded-lg p-3 lg:p-4 drop-shadow-xl gap-4 flex flex-col hover:from-blue-300/100 hover:to-blue-100/10 transition-all duration-300 cursor-pointer;
}

.nft-card:before {
  content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(
      rgb(92, 168, 255, 1) 0%,
      rgb(92, 168,255, .15) 50%
      );
    border-radius: inherit;
    mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);   
}

.nft-card-selected {
    background: linear-gradient(89deg, rgba(162, 129, 255,.8) 7.81%, rgb(235, 130, 128,.8) 31.14%, rgb(235, 191, 154,.8) 65.93%, rgb(137, 208, 255,.8) 90.66%);
}

/* Selected State Gradient Border */
.nft-card-selected:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(-30deg, #A281FF 7.81%, #EB8280 31.14%, #EBBF9A 65.93%, #89D0FF 90.66%);
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}


.network-icon {
  @apply  h-8 w-8 rounded-full border-2 border-white shadow-sm flex justify-center items-center -mr-2 overflow-hidden;
}

.bridge-panel {
  @apply min-w-[450px] bg-blue-900/80 rounded-lg relative shadow-xl flex flex-col items-center p-6 gap-8;
}

.send-button {
  @apply bg-gradient-to-b from-blue-500 to-blue-700 border-t-2 border-blue-300  relative hover:border-blue-900 transition-all duration-500; 
}

.send-button:before {
  @apply transition-opacity ease-in-out-quart duration-500 ;
content:"";
position: absolute;
width: 100%;
height: 100%;
top:0;
left:0;
opacity: 0;
z-index:-1;
border-radius: inherit;
background-image: linear-gradient( 89deg,
  rgba(162, 129, 255, 0.8) 7.81%,
  /* #A281FF with 80% opacity */
  rgba(235, 130, 128, 0.8) 31.14%,
  /* #EB8280 with 80% opacity */
  rgba(235, 191, 154, 0.8) 65.93%,
  /* #EBBF9A with 80% opacity */
  rgba(137, 208, 255, 0.8) 90.66%
  /* #89D0FF with 80% opacity */);
background-color: rgba(3, 10, 33, .4);
}

.send-button:hover:before {
  opacity:1;
}